@font-face {
  font-family: "CHEESEBURGA";
  src: url("/fonts/CHEESEBURGA.woff2") format("woff2"),
    url("/fonts/CHEESEBURGA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "CHEESEBURGA", sans-serif;
}
